<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Netid:</b>
  <%= @user.netid %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
	<%= image_tag(@user.userphoto.url) if @user.userphoto? %>
</p>
	

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
