<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Netid:</b>
  <%= @user.netid %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
<% for submission in @user.user_submissions %>
<p>
	<%= image_tag submission.portfolio.url(:small_thumb) %>
</p>
<% end %>
	
<%= link_to 'Make a new submission', new_user_submission_path(@user) %><br /><br />
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
