<%= form_for([@user, @submission], :html => {:multipart => true}) do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% @submission.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.file_field :portfolio %>
  </div>
	<%= f.hidden_field :netid %>
	<%= f.hidden_field :portfolio_cache %>
  <div class="field">
    <%= f.label :collection %><br />
    <%= f.text_field :collection %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
