<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @submission.name %>
</p>

<p>
  <b>Submitter:</b>
  <%= @submission.netid %>
</p>

<p>
  <b>Collection:</b>
  <%= @submission.collection %>
</p>

<p>
  <b>Content type:</b>
  <%= @submission.content_type %>
</p>

<p>
  <b>Image:</b>
	<%= image_tag(@submission.portfolio.large_thumb.url) %>
</p>


<%= link_to 'Edit', edit_submission_path(@submission) %> |
